*,
*::after,
*::before {
  box-sizing: border-box;
}

@media screen and (max-width: 719px) {
  h1 {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 32px;
    margin-top: 50px;
    margin-left: 2%;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 20px;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    color: rgb(165, 165, 165);
    font-size: 10px;
    margin-left: 2%;
  }

  h4 {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 8px;
  }

  h5 {
    font-family: "Open Sans", sans-serif;
    color: rgb(165, 165, 165);
    font-size: 7px;
    background-color: #3a3a3d;
    padding: 2px;
    border-radius: 3px;
  }

  p {
    font-family: "Open Sans", sans-serif;
    color: rgb(165, 165, 165);
    font-size: 8px;
  }

  header {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    background-color: #18181b;
    z-index: 1;
    box-shadow: 0px 2px 5px black;
    width: 100%;
    top: 0;
  }

  header a img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .streepje {
    border: 0.5px solid hsla(0, 0%, 100%, 0.08);
    background-color: #18181b;
    height: 60%;
  }

  header nav ul {
    max-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  header nav li {
    display: none;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background-color: #18181b;
    font-family: "Open Sans", sans-serif;
  }

  header nav li + li {
    padding-left: 5%;
  }

  header li:nth-child(n + 1):nth-child(-n + 3):nth-of-type(odd) {
    display: flex;
  }

  nav span {
    display: none;
  }

  .nav_icons {
    width: 25px;
    height: 25px;
  }

  header nav a {
    color: white;
    text-decoration: none;
  }

  header nav a:hover {
    color: #a970ff;
  }

  .dropdown {
    width: 20px;
    height: 20px;
  }

  header nav li:nth-of-type(7) a {
    padding: 0.1rem;
    display: flex;
    align-items: center;
  }

  header nav li:nth-of-type(7) a:hover {
    background-color: #3a3a3d;
    border-radius: 8px;
    padding: 0.2rem 0.1rem;
  }

  header form {
    padding: 0.2em;
    display: flex;
    max-height: 50px;
  }

  input,
  a {
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  header form input {
    width: 50%;
    font-size: 14px;
    min-width: 105px;
    max-width: 355px;
    line-height: 2em;
    background-color: #3a3a3d;
    color: rgb(165, 165, 165);
    padding: 0 0.5em;
    border-radius: 7px 0px 0px 7px;
    margin-right: 1px;
    padding-left: 12px;
    display: none;
  }

  header form input:focus {
    border: 2px solid #a970ff;
    background-color: black;
  }

  header form a {
    border-radius: 0px 7px 7px 0px;
  }

  header form img {
    width: 70%;
    height: 70%;
    max-width: 25px;
    min-width: 22px;
  }

  .icon_menu {
    display: none;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #18181b;
  }

  .icon_menu img {
    width: 20px;
    height: 20px;
  }

  /*
a:nth-child(5) {
  background-color: red;
} */

  .icon_menu a + a {
    margin-left: 10px;
  }

  .icon_menu a:hover:nth-child(-n + 3) {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  .icon_menu a:hover:nth-child(4) {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  .icon_menu span {
    display: none;
  }

  nav[role="sub"] {
    display: none;
  }

  body {
    margin: 0;
    background-color: #0d0d0e;
  }

  main {
    width: 100%;
  }

  main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  main li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 47%;
    max-width: 150px;
    background-color: #18181b;
    margin: 1% 1% 1% 1%;
  }

  main li img {
    width: 100%;
  }

  button {
    display: none;
  }

  .container {
    display: flex;
  }

  .video {
    margin-left: 2%;
    display: flex;
    overflow-x: auto;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .video::-webkit-scrollbar {
    display: none;
  }

  .video li {
    text-decoration: none;
    list-style: none;
    background-color: #18181b;
  }

  .video li + li {
    margin-left: 2%;
  }

  .video img {
    max-width: 270px;
  }

  .categorie {
    margin-left: 2%;
    display: flex;
    overflow-x: auto;
    text-decoration: none;
    list-style: none;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .categorie::-webkit-scrollbar {
    display: none;
  }

  .categorie li {
    display: flex;
    flex-direction: column;
    background-color: #18181b;
  }

  .categorie li + li {
    margin-left: 2%;
  }

  .categorie img {
    max-width: 100px;
    max-height: 150px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  header {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    background-color: #18181b;
    z-index: 1;
    box-shadow: 0px 2px 5px black;
    width: 100%;
  }

  header a img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .streepje {
    border: 0.5px solid hsla(0, 0%, 100%, 0.08);
    background-color: #18181b;
    height: 60%;
  }

  header nav ul {
    max-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  header nav li {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }

  header nav li + li {
    padding-left: 5%;
  }

  .nav_icons {
    display: none;
  }

  header nav a {
    color: white;
    text-decoration: none;
  }

  header nav a:hover {
    color: #a970ff;
  }

  .dropdown {
    width: 20px;
    height: 20px;
  }

  header nav li:nth-of-type(7) a {
    padding: 0.1rem;
    display: flex;
    align-items: center;
  }

  header nav li:nth-of-type(7) a:hover {
    background-color: #3a3a3d;
    border-radius: 8px;
    padding: 0.2rem 0.1rem;
  }

  header form {
    padding: 0.2em;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-height: 50px;
  }

  input,
  a {
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  header form input {
    width: 50%;
    font-size: 14px;
    min-width: 105px;
    max-width: 355px;
    line-height: 2em;
    background-color: #3a3a3d;
    color: rgb(165, 165, 165);
    padding: 0 0.5em;
    border-radius: 7px 0px 0px 7px;
    margin-right: 1px;
    padding-left: 12px;
  }

  header form input:focus {
    border: 2px solid #a970ff;
    background-color: black;
  }

  header form a {
    background-color: #29292c;
    border-radius: 0px 7px 7px 0px;
    cursor: not-allowed;
  }

  header form img {
    width: 70%;
    height: 70%;
    max-width: 25px;
    min-width: 22px;
  }

  .icon_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #18181b;
  }

  .icon_menu img {
    width: 20px;
    height: 20px;
  }

  /*
a:nth-child(5) {
  background-color: red;
} */

  .icon_menu a + a {
    margin-left: 10px;
  }

  .icon_menu a:hover:nth-child(-n + 3) {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  .icon_menu span {
    display: none;
  }

  .icon_menu a:hover:nth-child(4) {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  nav[role="sub"] {
    display: flex;
    padding-top: 50px;
    max-width: 50px;
  }

  nav[role="sub"] img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  nav[role="sub"] ul {
    max-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
  }

  nav[role="sub"] li {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background-color: #18181b;
    font-family: "Open Sans", sans-serif;
  }

  body {
    margin: 0;
    background-color: #0d0d0e;
  }

  .video a {
    position: absolute;
    background-color: black;
    text-decoration: none;
    color: white;
    opacity: 95%;
    border-radius: 8px;
    z-index: 1;
    padding: 10px;
  }

  .video a .video a:first-of-type {
    left: 0;
  }

  .video a .video a:last-of-type {
    right: 0;
  }

  .video a:hover {
    background-color: #3a3a3d;
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    flex-wrap: nowrap;
  }

  header a img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .streepje {
    border: 0.5px solid hsla(0, 0%, 100%, 0.08);
    background-color: #18181b;
    height: 60%;
  }

  header nav ul {
    max-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  header nav li {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background-color: #18181b;
    font-family: "Open Sans", sans-serif;
  }

  header nav li + li {
    padding-left: 30px;
  }

  .nav_icons {
    display: none;
  }

  header nav a {
    color: white;
    text-decoration: none;
  }

  header nav a:hover {
    color: #a970ff;
  }

  .dropdown {
    width: 20px;
    height: 20px;
  }

  header nav li:nth-of-type(7) a {
    padding: 0.1rem;
    display: flex;
    align-items: center;
  }

  header nav li:nth-of-type(7) a:hover {
    background-color: #3a3a3d;
    border-radius: 8px;
    padding: 0.2rem 0.1rem;
  }

  header form {
    padding: 0.2em;
    background-color: #18181b;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-height: 50px;
  }

  input,
  a {
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  header form input {
    width: 50%;
    font-size: 14px;
    min-width: 105px;
    max-width: 355px;
    line-height: 2em;
    background-color: #3a3a3d;
    color: rgb(165, 165, 165);
    padding: 0 0.5em;
    border-radius: 7px 0px 0px 7px;
    margin-right: 1px;
    padding-left: 12px;
  }

  header form input:focus {
    border: 2px solid #a970ff;
    background-color: black;
  }

  header form a {
    background-color: #29292c;
    border-radius: 0px 7px 7px 0px;
    cursor: not-allowed;
  }

  header form img {
    width: 70%;
    height: 70%;
    max-width: 25px;
    min-width: 22px;
  }

  .icon_menu {
    display: flex;
    justify-content: flex - end;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #18181b;
  }

  .icon_menu img {
    width: 20px;
    height: 20px;
  }

  /*
a:nth-child(5) {
  background-color: red;
} */

  .icon_menu a + a {
    margin-left: 10px;
  }

  .icon_menu a:nth-child(-n + 3) {
    padding: 0.1rem;
  }

  .icon_menu a:hover:nth-child(-n + 3) {
    background-color: #3a3a3d;
    border-radius: 8px;
    padding: 0.1rem;
  }

  .icon_menu a:nth-child(4) {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    background-color: #3a3a3d;
    padding: 0px 8px 0px 0px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
  }

  .icon_menu a:hover:nth-child(4) {
    background-color: #434346;
  }

  body {
    margin: 0;
    background-color: #0d0d0e;
  }
}
