*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: Roobert;
  src: url("https://static.twitchcdn.net/assets/Roobert-Regular-3fe213a3618624fd7b71.woff2")
      format("woff2"),
    url("https://static.twitchcdn.net/assets/Roobert-Regular-014ea096b0f865fa4dd9.woff")
      format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Roobert;
  src: url("https://static.twitchcdn.net/assets/Roobert-SemiBold-df85158a0012c224b021.woff2")
      format("woff2"),
    url("https://static.twitchcdn.net/assets/Roobert-SemiBold-48a406bf82c48cfaa849.woff")
      format("woff");
  font-weight: 600;
}

@font-face {
  font-family: Roobert;
  src: url("https://static.twitchcdn.net/assets/Roobert-Bold-7fda562c82c09fbabec2.woff2")
      format("woff2"),
    url("https://static.twitchcdn.net/assets/Roobert-Bold-e1ed2e0bbb575f1a395b.woff")
      format("woff");
  font-weight: 700;
}

@media screen and(max-width: 719px) {
  header {
    display: flex;
    flex-wrap: nowrap;
  }

  header a img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .streepje {
    border: 0.5px solid hsla(0, 0%, 100%, 0.08);
    background-color: #18181b;
    height: 60%;
  }

  header nav ul {
    max-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  header nav li {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background-color: #18181b;
    font-family: Roobert;
  }

  header nav li:nth-of-type(7) {
    position: relative;
    padding-top: 22px;
  }

  header nav li + li {
    padding-left: 30px;
  }

  nav span {
    display: none;
  }

  .nav_icons {
    width: 25px;
    height: 25px;
  }

  header nav a {
    color: white;
    text-decoration: none;
  }

  header nav a:hover {
    color: #a970ff;
  }

  .dropdown {
    margin-top: -0.7rem;
  }

  .dropdown:hover {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  header form {
    padding: 0.5em;
    background-color: #18181b;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-height: 50px;
  }

  input,
  a {
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  header form input {
    width: 50%;
    font-size: 14px;
    min-width: 105px;
    max-width: 355px;
    line-height: 2em;
    background-color: #3a3a3d;
    color: rgb(165, 165, 165);
    padding: 0 0.5em;
    border-radius: 7px 0px 0px 7px;
    margin-right: 1px;
    padding-left: 12px;
    display: none;
  }

  header form input:focus {
    border: 2px solid #a970ff;
    background-color: black;
  }

  header form a {
    background-color: #29292c;
    border-radius: 0px 7px 7px 0px;
    cursor: not-allowed;
  }

  header form img {
    width: 70%;
    height: 70%;
    max-width: 25px;
    min-width: 22px;
  }

  .icon_menu {
    display: flex;
    justify-content: flex - end;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    font-family: Roobert;
    background-color: #18181b;
  }

  .icon_menu img {
    width: 20px;
    height: 20px;
  }

  /*
a:nth-child(5) {
  background-color: red;
} */

  .icon_menu a + a {
    margin-left: 10px;
  }

  .icon_menu a:hover:nth-child(-n + 3) {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  .icon_menu:nth-child(4) {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    padding: 0px 8px 0px 0px;
    background-color: #3a3a3d;
    text-decoration: none;
    color: white;
    border-radius: 8px;
  }

  .icon_menu a:hover:nth-child(4) {
    background-color: #4b4b4d;
    display: none;
  }

  body {
    margin: 0;
    background-color: #0d0d0e;
  }
}

@media screen and(min-width: 720px) and(max-width: 1080px) {
  header {
    display: flex;
    flex-wrap: nowrap;
  }

  header a img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .streepje {
    border: 0.5px solid hsla(0, 0%, 100%, 0.08);
    background-color: #18181b;
    height: 60%;
  }

  header nav ul {
    max-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  header nav li {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background-color: #18181b;
    font-family: Roobert;
  }

  header nav li:nth-of-type(7) {
    position: relative;
    padding-top: 22px;
  }

  header nav li + li {
    padding-left: 30px;
  }

  .nav_icons {
    display: none;
  }

  header nav a {
    color: white;
    text-decoration: none;
  }

  header nav a:hover {
    color: #a970ff;
  }

  .dropdown {
    margin-top: -0.7rem;
  }

  .dropdown:hover {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  header form {
    padding: 0.5em;
    background-color: #18181b;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-height: 50px;
  }

  input,
  a {
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  header form input {
    width: 50%;
    font-size: 14px;
    min-width: 105px;
    max-width: 355px;
    line-height: 2em;
    background-color: #3a3a3d;
    color: rgb(165, 165, 165);
    padding: 0 0.5em;
    border-radius: 7px 0px 0px 7px;
    margin-right: 1px;
    padding-left: 12px;
  }

  header form input:focus {
    border: 2px solid #a970ff;
    background-color: black;
  }

  header form a {
    background-color: #29292c;
    border-radius: 0px 7px 7px 0px;
    cursor: not-allowed;
  }

  header form img {
    width: 70%;
    height: 70%;
    max-width: 25px;
    min-width: 22px;
  }

  .icon_menu {
    display: flex;
    justify-content: flex - end;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    font-family: Roobert;
    background-color: #18181b;
  }

  .icon_menu img {
    width: 20px;
    height: 20px;
  }

  /*
a:nth-child(5) {
  background-color: red;
} */

  .icon_menu a + a {
    margin-left: 10px;
  }

  .icon_menu a:hover:nth-child(-n + 3) {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  .icon_menu:nth-child(4) {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 8px;
  }

  .icon_menu span {
    display: none;
  }

  .icon_menu a:hover:nth-child(4) {
    background-color: #3a3a3d;
  }
}

@media screen and(min-width: 1081px) {
  header {
    display: flex;
    flex-wrap: nowrap;
  }

  header a img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .streepje {
    border: 0.5px solid hsla(0, 0%, 100%, 0.08);
    background-color: #18181b;
    height: 60%;
  }

  header nav ul {
    max-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  header nav li {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background-color: #18181b;
    font-family: Roobert;
  }

  header nav li:nth-of-type(7) {
    position: relative;
    padding-top: 22px;
  }

  header nav li + li {
    padding-left: 30px;
  }

  .nav_icons {
    display: none;
  }

  header nav a {
    color: white;
    text-decoration: none;
  }

  header nav a:hover {
    color: #a970ff;
  }

  .dropdown {
    margin-top: -0.7rem;
  }

  .dropdown:hover {
    background-color: #3a3a3d;
    border-radius: 8px;
  }

  header form {
    padding: 0.5em;
    background-color: #18181b;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-height: 50px;
  }

  input,
  a {
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  header form input {
    width: 50%;
    font-size: 14px;
    min-width: 105px;
    max-width: 355px;
    line-height: 2em;
    background-color: #3a3a3d;
    color: rgb(165, 165, 165);
    padding: 0 0.5em;
    border-radius: 7px 0px 0px 7px;
    margin-right: 1px;
    padding-left: 12px;
  }

  header form input:focus {
    border: 2px solid #a970ff;
    background-color: black;
  }

  header form a {
    background-color: #29292c;
    border-radius: 0px 7px 7px 0px;
    cursor: not-allowed;
  }

  header form img {
    width: 70%;
    height: 70%;
    max-width: 25px;
    min-width: 22px;
  }

  .icon_menu {
    display: flex;
    justify-content: flex - end;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    font-family: Roobert;
    background-color: #18181b;
  }

  .icon_menu img {
    width: 20px;
    height: 20px;
  }

  /*
a:nth-child(5) {
  background-color: red;
} */

  .icon_menu a + a {
    margin-left: 10px;
  }

  .icon_menu a:nth-child(-n + 3) {
    padding: 0.1rem;
  }

  .icon_menu a:hover:nth-child(-n + 3) {
    background-color: #3a3a3d;
    border-radius: 8px;
    padding: 0.1rem;
  }

  .icon_menu:nth-child(4) {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    padding: 0px 8px 0px 0px;
    background-color: #3a3a3d;
    text-decoration: none;
    color: white;
    border-radius: 8px;
  }

  .icon_menu a:hover:nth-child(4) {
    background-color: #4b4b4d;
  }

  body {
    margin: 0;
    background-color: #0d0d0e;
  }
}
